
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="Imagenes/IconoRosa.png" type="image/x-icon" style="width: 20px; margin-right: 20px;">
    <title>
        ARTES & ESTILOS Gestión Floral - INICIO DE SESIÓN
    </title>
    
    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper fade-in">
        <div class="container slide-in-left" id="form-container">
            <div class="form-container">

                <form class="form login-form">
                    <h1 class="title">Inicio de Sesión</h1>
                    <div class="inp">
                        <input type="text" class="input" placeholder="Nombre de Usuario" />
                    </div>
                    <div class="inp">
                        <input type="password" class="input" placeholder="Contraseña" />
                    </div>
                    <div class="inp">
                        <select class="input" id="login-rol">
                            <option value="" disabled selected hidden>Rol de Usuario</option>
                            <option value="administrador">Administrador</option>
                        </select>
                    </div>
                    <button class="submit">Iniciar Sesión</button>
                    <p class="footer">¿No tienes cuenta? <a href="#" id="show-register" class="link">Regístrate</a>
                    </p>
                </form>

                <form class="form register-form">
                    <h1 class="title">Crea una Cuenta</h1>
                    <div class="inp">
                        <input type="text" class="input" placeholder="Nombre de Usuario" />
                    </div>
                    <div class="inp">
                        <input type="password" class="input" placeholder="Contraseña" />
                    </div>
                    <div class="inp">
                        <select class="input" id="register-rol">
                            <option value="" disabled selected hidden>Rol de Usuario</option>
                            <option value="administrador">Administrador</option>
                        </select>
                    </div>
                    <button class="submit">Crear Cuenta</button>
                    <p class="footer">¿Ya tienes cuenta? <a href="#" id="show-login" class="link">Volver al inicio</a>
                    </p>
                </form>
            </div>
        </div>

        <div class="banner slide-in-right" id="banner">
            <h1 class="wel_text" id="banner-title">BIENVENIDO</h1>
            <p class="para" id="banner-text">Gestión Floral<br>Artes & Estilos</p>
        </div>
    </div>

    <script src="JS/ScriptLogin.js"></script>
</body>

</html>