/* Importa la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Estilos generales para todos los elementos */
* {
  margin: 2;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
  color: #fff; /* Color de texto blanco */
}

/* Estilos para el body */
body {
  width: 100vw; /* Ancho del 100% del viewport */
  height: 100vh; /* Alto del 100% del viewport */
  background: #b84747; /* Fondo negro */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  overflow: hidden; /* Oculta el overflow */
}

/* Animación de fade-in */
.fade-in {
  animation: fadeIn 2s ease forwards;
}

/* Animación de slide-in desde la izquierda */
.slide-in-left {
  animation: slideLeft 2s ease forwards;
}

/* Animación de slide-in desde la derecha */
.slide-in-right {
  animation: slideRight 2s ease forwards;
}

/* Definición de la animación de fade-in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Definición de la animación de slide-in desde la izquierda */
@keyframes slideLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

/* Definición de la animación de slide-in desde la derecha */
@keyframes slideRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

/* Estilos para el contenedor principal */
.wrapper {
  position: relative;
  width: 850px;
  height: 80vh;
  display: flex;
  overflow: hidden;
  border: 3px solid #d1bebe;
  box-shadow: 0 0 50px 0 #585555;
}

/* Estilos para el contenedor del formulario */
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* Estilos para el contenedor de los formularios */
.form-container {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

/* Estilos para el contenedor de los formularios cuando el registro está activo */
.container.register-active .form-container {
  transform: translateX(-50%);
}

/* Estilos para el formulario */
.form {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Cambiado a flex-start */
  align-items: left; /* Centrado horizontalmente */
  padding-top: 25px; /* Espacio superior añadido */
  padding-left: 72.5px;
}

/* Estilos para el contenedor de los inputs */
.inp {
  margin: 12.5px 0;
  width: 260px;
}

/* Estilos para los inputs */
.input {
  width: 100%;
  padding: 10px 15px;
  background-color: #9b3232; /* Cambia el fondo a negro */
  border: 2px solid rgb(153, 136, 136);
  border-radius: 8px;
  font-size: 17px;
  color: #fff;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 transparent;
}

/* Estilos para los inputs cuando están en foco */
.input:focus {
  border-color: #9c8e8e;
  box-shadow: 0 0 10px #c7b9b9, 0 0 20px rgb(204, 0, 255);
}

/* Estilos para el botón de submit */
.submit {
  width: 260px;
  padding: 13px 0;
  font-size: 20px;
  border: none;
  border-radius: 40px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 20px;
  background: linear-gradient(45deg, #c5bdbd,rgb(0, 0, 0));
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
}

/* Estilos para el pseudo-elemento before del botón de submit */
.submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  transition: left 0.5s ease;
  z-index: 0;
}

/* Estilos para el pseudo-elemento before del botón de submit cuando está en hover */
.submit:hover::before {
  left: 125%;
}

/* Estilos para el footer */
.footer {
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #a18484;
  text-align: left;
}

/* Estilos para los links */
.link {
  color: rgb(134, 113, 113);
  text-decoration: none;
}

/* Estilos para el banner */
.banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0),#cab7b7);
  clip-path: polygon(0 0, 100% 270%, 200% -20000000%);
  padding-right: 70px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* Estilos para el texto de bienvenida */
.wel_text {
  font-size: 40px;
  margin-top: 50px;
  line-height: 10px;
}

/* Estilos para el párrafo */
.para {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
}